In [18]:
import pandas as pd

In [21]:
ted_dataset = pd.read_csv("./ted_talks_data.csv")

ted_dataset.head()

,title,author,date,views,likes,link
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

In [30]:
# 5. Finding TED talks of your favorite Author
ozawa_dataset = ted_dataset[ted_dataset["author"] == "Martin Reeves"]
ozawa_dataset

,title,author,date,views,likes,link
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
2834,How to build a business that lasts 100 years,Martin Reeves,May 2016,2300000,70000,https://ted.com/talks/martin_reeves_how_to_bui...
3335,Your strategy needs a strategy,Martin Reeves,October 2014,360000,10000,https://ted.com/talks/martin_reeves_your_strat...

In [31]:
import re

In [32]:
re.search("Martin", "Martin Reeves")

```python # Get countries starting with letter P
S=pd.Series(['Finland','Colombia','Florida','Japan','Puerto Rico','Russia','france'])
S[S.str.match(r'(^P.*)')==True]

# Usa expresiones regulares

1. Finding the most popular TED talks
2. Finding the most popular TED talks Speaker (in terms of number of talks)
3. Finding TED talks of your favorite Author
4. Finding TED talks with the best view to like ration
5. Finding TED talks based on tags(like climate)
6. Finding the most popular TED talks Speaker (in terms of number of views)