In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Leer un archivo csv

In [2]:
ted_dataset = pd.read_csv("./ted_talks_data.csv")

ted_dataset.head()

,title,author,date,views,likes,link
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

Obtenemos unicamente las charlas de x autor

In [127]:
# 5. Finding TED talks of your favorite Author
ozawa_dataset = ted_dataset[ted_dataset["author"] == "Özlem Cekic"]
ozawa_dataset

,title,author,date,views,likes,link
1800,Why I have coffee with people who send me hate...,Özlem Cekic,September 2018,2000000,60000,https://ted.com/talks/ozlem_cekic_why_i_have_c...

Importamos *re* para leer expresiones regulares

In [31]:
import re

In [32]:
re.search("Martin", "Martin Reeves")

TODO: Investigar como usar expresiones regulares con pandas

```python # Get countries starting with letter P
S=pd.Series(['Finland','Colombia','Florida','Japan','Puerto Rico','Russia','france'])
S[S.str.match(r'(^P.*)')==True]

Usar expresiones regulares te ayuda a generar un primer filtro de tus datos TIP PRO

## Tarea

1. Finding the most popular TED talks
2. Finding the most popular TED talks Speaker (in terms of number of talks)
3. Finding TED talks of your favorite Author
4. Finding TED talks with the best view to like ration
5. Finding TED talks based on tags(like climate)
6. Finding the most popular TED talks Speaker (in terms of number of views)


1. Finding the mos popular TED talks

In [53]:
# Obtenemos el número de vistas de cada ted talks
ted_dataset["views"]

# Buscamos el indice con máximo número de views en una ted
max_index = ted_dataset["views"].idxmax()

# Obtenemos esa fila
ted_dataset.iloc[max_index]

title                           Do schools kill creativity?
author                                     Sir Ken Robinson
date                                          February 2006
views                                              72000000
likes                                               2100000
link      https://ted.com/talks/sir_ken_robinson_do_scho...
Name: 5436, dtype: object

2. Finding the most popular TED talks Speaker (in terms of number of talks)

In [66]:
# Obtenemos el número de veces que aparece cada autor en una ted talks
ted_dataset["author"].value_counts()

#obtenemos el número máximo con su indice
ted_speaker = ted_dataset["author"].value_counts().reset_index()

# Guardamos el talks speaker con más número de talks
ted_speaker["index"][0]

'Alex Gendler'

3. Finding Ted Talks of your favorite author

In [129]:
ozawa_dataset = ted_dataset[ted_dataset["author"] == "Mahendra Singhi"]
ozawa_dataset

,title,author,date,views,likes,link
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...

4. Finding TED talks with the best view to like ration

In [98]:
# Obtenemos un subDataSet con las views y los likes
ted_subset = ted_dataset.filter(["views", "likes"])

# Obtenemos los promedios de views y likes
ted_views_likes_mean = ted_subset.mean(axis=1)

#Obtenemos el indice del mayor promedio
ted_views_likes_mean.max() #Obtuvimos el elemento máximo
idx_trend_ted = ted_views_likes_mean.idxmax() # Obtumos el indice del elemento máximo

# Obtenemos la ted talks
ted_dataset.iloc[idx_trend_ted]

title                           Do schools kill creativity?
author                                     Sir Ken Robinson
date                                          February 2006
views                                              72000000
likes                                               2100000
link      https://ted.com/talks/sir_ken_robinson_do_scho...
Name: 5436, dtype: object

5. Finding TED talks based on tags(like climate)

In [112]:
# .loc => Localiza algo dentro de un dataset
# str.contains("How", case=False) => Busca un string "algo" en el data set
# argument case, false is indiferent to mayus
word = "Mexico"
ted_dataset.loc[ted_dataset["title"].str.contains(word, case=False)]

,title,author,date,views,likes,link
232,A taste of Mexico's ancient chocolate-making t...,Germán Santillán,August 2021,1600000,48000,https://ted.com/talks/german_santillan_a_taste...
1166,What's really happening at the US-Mexico borde...,Erika Pinheiro,September 2019,2100000,64000,https://ted.com/talks/erika_pinheiro_what_s_re...
1234,The psychological impact of child separation a...,Luis H. Zayas,September 2019,2000000,62000,https://ted.com/talks/luis_h_zayas_the_psychol...
1246,A personal plea for humanity at the US-Mexico ...,Juan Enriquez,September 2019,2000000,60000,https://ted.com/talks/juan_enriquez_a_personal...
1606,An architect's subversive reimagining of the U...,Ronald Rael,December 2018,1600000,49000,https://ted.com/talks/ronald_rael_an_architect...
2136,"The ""dead zone"" of the Gulf of Mexico",Nancy Rabalais,November 2017,1200000,38000,https://ted.com/talks/nancy_rabalais_the_dead_...

6. Finding the most popular TED talks Speaker (in terms of number of views)